* {
    box-sizing: border-box;
  }
  
  html, body {
    margin:0;
    padding:0;
    height: 100%;
  }

#header {
  height: 100%;
}
#content {
  height: 100%;
  overflow: auto;
}

#root {
  display: flex;
  justify-content: center;
}

.mainGrid {
  margin-right: 0!important;
  margin-left: 0!important;
  justify-content: center;
}

.ui.container {
  margin-left: 0!important;
  margin-right: 0!important;
}

.ui.grid.container {
  width: 85%!important;
}